.emailButtonStyle {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px; /* Rounded edges */
  padding: 10px 0;
  cursor: pointer;
  width: 320px; /* Adjust width based on design */
  height: 55px; /* Adjust height */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  }

  .buttonTextContent {
    padding-left: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in, padding-left 0.3s ease-out, opacity 1s ease-out; /* Separate transition for fade-out */

  }

  &:active .buttonTextContent {
    width: 0;
    padding-left: 0;
    opacity: 0;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF2293;
  border-radius: 40px;
  margin-left: auto;
  width: 100px;
  height: 53px;
  //transform-origin: right;
  transition: all 0.2s  ease;

  &:hover {
    width: 150px;
  }

  &:active {
    width: 320px;
    margin-left: 0px;
  }
}

.playIcon {
  color: white;
  font-size: 16px;
}